/* src/components/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to edges */
    padding: 2rem;
    background-color: #161616;
    color: #fff;
    width: 100%; /* Full width */
    position: fixed; /* Fix to top of screen */
    top: 0px;
    left: 0;
    z-index: 1000;
  }
  
  .navbar-logo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 2;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

  }
  
  .navbar-links a {
  color: #e8e8e8;
  text-decoration: none;
  font-size: 2rem; /* Increase font size */
  padding: 0.5rem 10rem; /* Add padding to make links bigger */
  transition: transform 0.2s ease; /* Smooth effect */
}

.navbar-links a:hover {
  color: #f25393;
  transform: scale(1.5); /* Slightly enlarge on hover */
}
  
  /* Optional: add padding to the main content area to avoid overlapping with the navbar */
  .main-content {
    padding-top: 4rem; /* Adjust based on navbar height */
  }
  