.navbar {
  background-color: #161616;
  padding: 3rem 3rem;
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Space out elements evenly */
  align-items: center; /* Align items vertically */
  width: 100%; /* Ensure the navbar takes up the full width */
}

.navbar .navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  padding-left: 1rem;
}

.navbar .navbar-brand:hover {
  color: #00682d;
}

.navbar-nav {
  display: flex; /* Use flexbox for the navbar items */
  justify-content: flex-end; /* Align navbar items to the right */
  width: 100%; /* Ensure navbar items stretch to fill available space */
}

.navbar-nav .nav-item .nav-link {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #00682d;
}

.collapse.navbar-collapse {
  justify-content: flex-end;
}

.logout-btn {
  background-color: #252424;
  color: white;
  font-size: 1.6rem; /* Adjust this size */
  padding: 0.5rem 1.5rem; /* Adjust padding to make it more compact */
  border: none;
  margin-left: 1rem; /* Space it out from other items */
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #767575;
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    width: 100%;
  }

  .logout-btn {
    width: auto; /* Ensure the button isn't stretching on small screens */
  }
}